<configuration>
  <connectionStrings>
    <add name="conn"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=RiseExtraDB;Trusted_Connection=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
  </system.web>
</configuration>
